body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }
.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-width: 420px;
    margin: 90px auto 0;
  }

.card {
    display: inline-block;
    width: 80px;
    height: 110px;
    margin: 10px;
    perspective: 500px;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 10%;
    box-shadow: 2px 2px 4px grey;
  }

  h1 {
    font-size: 2.5em;
  }
  
  .card-back span {
    color: rgba(0,0,0,0);
  }
  
  .card-back  {
  background:
    linear-gradient(135deg, #FBFBFB 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #FBFBFB 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #FBFBFB 25%, transparent 25%),
    linear-gradient(45deg, #FBFBFB 25%, transparent 25%);
    background-size: 10px 10px;
    background-color: lightgrey;
    color: rgba(0,0,0,0);
  }

  

