body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }

/* Set font family and size */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
.gamehomepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

/* Style the input field */
#name-input {
  display: inline-block;
  width: 205px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Style the buttons */
button {
  display: inline-block;
  background-color: #6c63ff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Change button color on hover */
button:hover {
  background-color: #4d47cc;
}

/* Style the Easy button */
#easyMode {
  margin-right: 10px;
}

/* Style the Hard button */
#hardMode {
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding-bottom: 20px;
}
li {
  margin: 20px auto 0;
  text-align: center;
}
 /* For easy mode */
.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-width: 540px;
    margin: 20px auto 0;
  }

.card {
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 10px;
    perspective: 500px;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 10%;
    box-shadow: 2px 2px 4px grey;
    transition: transform 0.2s ease-in-out;
  }

  h1 {
    font-size: 2.9em;
    text-align: center;
    line-height: 100%;
  }
  
  .card-back span {
    color: rgba(0,0,0,0);
  }
  
  .card-back  {
    transform: rotateY(180deg);
    background:
    linear-gradient(135deg, #FBFBFB 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, #FBFBFB 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, #FBFBFB 25%, transparent 25%),
    linear-gradient(45deg, #FBFBFB 25%, transparent 25%);
    background-size: 10px 10px;
    background-color: lightgrey;
    color: rgba(0,0,0,0);
  }
  .gameConsole {
    white-space: nowrap;
    margin-bottom: 20px;
  }
  .restart {
    display: inline-block;
    vertical-align: top;
    font-size: 2.3em;
    color: #3d3d3d;
    text-shadow: 1px 1px 2px darkgrey;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: default;
  }
  
  .restart:hover {
    color: #6c63ff;
    font-weight: bold;
  }
  
  .restart::after {
    content: "restart";
    text-shadow: none;
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-90%);
    padding: 5px 10px;
    background-color: #ffffff;    border-radius: 3px;
    color: #a3a3a3;
    font-size: 20px;
  }
  
  .restart:hover::after {
    display: block;
  }

.hard {
  display: inline-block;
  vertical-align: top;
  font-size: 2.8em;
  color: #3d3d3d;
  text-shadow: 1px 1px 2px darkgrey;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: default;
}

.hard:hover {
  color: #6c63ff;
  font-weight: bold;
}

.hard::after {
  content: "hard mode";
  text-shadow: none;
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-10%);
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 3px;
  color: #a3a3a3;
  font-size: 20px;
}

.hard:hover::after {
  display: block;
}

  .timeCounter {
    display: inline-block;
    vertical-align: top;
    width: 160px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px grey;
    border-radius: 10px;
    background-color: #555555;
    transition: background-color 0.3s ease;
    color: white;
    font-size: 1.2em;
  }

  .movesCounter {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    padding: 10px 24px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    box-shadow: 1px 1px 3px grey;
    border-radius: 10px;
    background-color: #555555;
    transition: background-color 0.3s ease;
    color: white;
    font-size: 1.2em;
  }
  #banner {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    z-index: 2;
    animation: wiggle 0.5s ease-in-out forwards;
  }
  
  @keyframes wiggle {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    25% {
      transform: translate(-50%, -50%) rotate(5deg);
    }
    50% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    75% {
      transform: translate(-50%, -50%) rotate(-5deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  

  /* For hard mode */
  .gameboard2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30vh;
    max-width: 540px;
    margin: 20px auto 0;
  }


.easy {
  display: inline-block;
  vertical-align: top;
  font-size: 2.8em;
  color: #3d3d3d;
  text-shadow: 1px 1px 2px darkgrey;
  margin-left: 20px;
  transition: all 0.2s ease-in-out;
  position: relative;
  cursor: default;
}

.easy:hover {
  color: #6c63ff;
  font-weight: bold;
}

.easy::after {
  content: "easy mode";
  text-shadow: none;
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-10%);
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 3px;
  color: #a3a3a3;
  font-size: 20px;
}

.easy:hover::after {
  display: block;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, pointer-events 0.3s ease-in-out;
}

.disabled:hover {
  cursor: not-allowed;
}

@media only screen and (max-width: 700px) {
  .gameboard .gameboard2 .gameConsole {
    width: 1300%;
    height: auto;
  }
}
